[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
uvicorn = "*"
tox = "*"
pytest = "*"
typing_extensions = "*"
bumpversion = "*"
requests = "*"

[packages]
fastapi = ">=0.56.0"
fastapi-versioning = {path = ".",editable = true}

[requires]
python_version = ">=3.6"
