[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
uvicorn = "*"
tox = "*"
pytest = "*"
typing_extensions = "*"
bumpversion = "*"
requests = "*"
mypy = "*"
black = "==20.8b1"
isort = "*"
flake8 = "*"

[packages]
fastapi = ">=0.56.0"
starlette = "==0.13.6"
fastapi-versioning = {path = ".",editable = true}
